<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>服务</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui">
    <link rel="stylesheet" href="../css/basic.css">
    <link rel="stylesheet" href="../css/cars.css">
    <link rel="stylesheet" href="../css/service.css">
</head>
<body>

<div class="container" ng-controller="serviceCtrl">

    <!--头部开始-->
    <div id="header">
        <img src="../imgs/common/navigation.png" alt="">
    </div>
    <!--头部开始-->

    <!--微信头部开始-->
    <div class="w-header">
        <img src="../imgs/common/w-header'.png" alt="">
    </div>
    <!--微信头部结束-->

    <!--版块开始-->
    <div class="section first-section">
        <div class="img-container">
            <img src="{{msg.image}}{{prefixed}}" alt="">
            <div class="ban">
                <div style="height: 20pt" ng-if="msg.merchant_id==0 || msg.is_google==1">认领店铺</div>
                <div style="height: 20pt" ng-if="msg.merchant_id!=0 || msg.is_google!=1">查看商家</div>
                <h1 ng-bind="'共'+msg.mci_count+'张'"></h1>
            </div>
        </div>


        <div class="ban-box">
            <div>
                <h1 ng-bind="msg.zh_name.length>20?msg.zh_name.substring(0,20)+'..':msg.zh_name"></h1>
                <h2 ng-bind="msg.en_name.length>20?msg.en_name.substring(0,20)+'..':msg.en_name"></h2>
            </div>
            <!--<img src="{{msg.qrcode}}" alt="">-->
            <img src="../imgs/service/erweima.png" alt="">
        </div>

        <div class="ban-box ban-box2">
            <div>
                <ul ng-if="0<msg.score<1.0">
                    <li><img src="../imgs/common/star0.png" alt=""></li>
                    <li><img src="../imgs/common/star0.png" alt=""></li>
                    <li><img src="../imgs/common/star0.png" alt=""></li>
                    <li><img src="../imgs/common/star0.png" alt=""></li>
                    <li><img src="../imgs/common/star0.png" alt=""></li>
                </ul>
                <ul ng-if="msg.score<2.0 && msg.score>=1.0">
                    <li><img src="../imgs/common/star1.png" alt=""></li>
                    <li><img src="../imgs/common/star0.png" alt=""></li>
                    <li><img src="../imgs/common/star0.png" alt=""></li>
                    <li><img src="../imgs/common/star0.png" alt=""></li>
                    <li><img src="../imgs/common/star0.png" alt=""></li>
                </ul>
                <ul ng-if="msg.score<3.0 && msg.score>=2.0">
                    <li><img src="../imgs/common/star1.png" alt=""></li>
                    <li><img src="../imgs/common/star1.png" alt=""></li>
                    <li><img src="../imgs/common/star0.png" alt=""></li>
                    <li><img src="../imgs/common/star0.png" alt=""></li>
                    <li><img src="../imgs/common/star0.png" alt=""></li>
                </ul>
                <ul ng-if="msg.score<4.0 && msg.score>=3.0">
                    <li><img src="../imgs/common/star1.png" alt=""></li>
                    <li><img src="../imgs/common/star1.png" alt=""></li>
                    <li><img src="../imgs/common/star1.png" alt=""></li>
                    <li><img src="../imgs/common/star0.png" alt=""></li>
                    <li><img src="../imgs/common/star0.png" alt=""></li>
                </ul>
                <ul ng-if="msg.score<5.0 && msg.score>=4.0">
                    <li><img src="../imgs/common/star1.png" alt=""></li>
                    <li><img src="../imgs/common/star1.png" alt=""></li>
                    <li><img src="../imgs/common/star1.png" alt=""></li>
                    <li><img src="../imgs/common/star1.png" alt=""></li>
                    <li><img src="../imgs/common/star0.png" alt=""></li>
                </ul>
                <ul ng-if="msg.score==5">
                    <li><img src="../imgs/common/star1.png" alt=""></li>
                    <li><img src="../imgs/common/star1.png" alt=""></li>
                    <li><img src="../imgs/common/star1.png" alt=""></li>
                    <li><img src="../imgs/common/star1.png" alt=""></li>
                    <li><img src="../imgs/common/star1.png" alt=""></li>
                </ul>
                <span style="margin-left: 5pt" ng-bind="msg.mc_count+'条'"></span>
            </div>

            <div class="ban-box2-right">
                <span ng-bind="msg.cate_title"></span>
            </div>
        </div>

        <div class="ban-box ban-box2" style="margin-top: 0;padding-bottom: 5pt;">
            <div>
                <span ng-bind="'经验' + ' ' +msg.score"> </span>
                <span ng-bind="'水平' + ' ' +msg.se_score"> </span>
                <span ng-bind="'质量' + ' ' +msg.pr_score"> </span>
            </div>
             <div>
                 <span style="margin-right: 13pt" ng-bind="msg.distance+'英里'"></span>
             </div>
        </div>

    </div>

    <div class="section ser-desc" >
        <p ng-bind="msg.info"></p>
        <div class="item">
            <h1> 电话 <span ng-bind="msg.tel" style="color: #00d1b2;"></span></h1>
            <span style="color: #31aefe" class="telephone">拨打电话</span>
        </div>
        <!--营业时间开始-->
        <div class="opentime">
            <h1>时间</h1>
            <div>
                <p ng-repeat="tm in msg.open">{{tm.first_start}}-{{tm.first_end}} {{tm.second_start}}-{{tm.second_end}}
                    <i ng-if="tm.week==0" >周日 </i>
                    <i ng-if="tm.week==1" >周一</i>
                    <i ng-if="tm.week==2" >周二</i>
                    <i ng-if="tm.week==3" >周三</i>
                    <i ng-if="tm.week==4" >周四</i>
                    <i ng-if="tm.week==5" >周五</i>
                    <i ng-if="tm.week==6" >周六</i>
                </p>
            </div>
            <span ng-if="is_close && week==realWeek" class="open">营业中</span>
            <span ng-if="!is_close || week != realWeek" class="close">歇业中</span>
        </div>
        <!--营业时间结束-->


        <div class="item">
            <h1> 地址 <span ng-bind="msg.address"></span></h1>
        </div>
        <!--<div class="item">-->
            <!--<h1> 公交 <span ng-bind="msg.bus"></span></h1>-->
        <!--</div>-->
    </div>


    <div class="section pinglun" ng-controller="commentCtrl">
        <div class="coms-header">
            <div></div>
            <h1>评论</h1>·<span ng-bind="commentLength"></span>
        </div>
        <div class="comment"  ng-repeat="data in commentList">
            <div class="comment-header">
                <div class="comment-header-left">
                    <div class="comment-header-left-icon">
                        <img src="{{data.user_header}}" alt="">
                    </div>
                    <div class="comment-header-left-info">
                        <h1 ng-bind="data.user_nickname"></h1>
                        <div>
                            <ul ng-if="0<data.score<1.0">
                                <li><img src="../imgs/common/star0.png" alt=""></li>
                                <li><img src="../imgs/common/star0.png" alt=""></li>
                                <li><img src="../imgs/common/star0.png" alt=""></li>
                                <li><img src="../imgs/common/star0.png" alt=""></li>
                                <li><img src="../imgs/common/star0.png" alt=""></li>
                            </ul>
                            <ul ng-if="data.score<2.0 && data.score>=1.0">
                                <li><img src="../imgs/common/star1.png" alt=""></li>
                                <li><img src="../imgs/common/star0.png" alt=""></li>
                                <li><img src="../imgs/common/star0.png" alt=""></li>
                                <li><img src="../imgs/common/star0.png" alt=""></li>
                                <li><img src="../imgs/common/star0.png" alt=""></li>
                            </ul>
                            <ul ng-if="data.score<3.0 && data.score>=2.0">
                                <li><img src="../imgs/common/star1.png" alt=""></li>
                                <li><img src="../imgs/common/star1.png" alt=""></li>
                                <li><img src="../imgs/common/star0.png" alt=""></li>
                                <li><img src="../imgs/common/star0.png" alt=""></li>
                                <li><img src="../imgs/common/star0.png" alt=""></li>
                            </ul>
                            <ul ng-if="data.score<4.0 && data.score>=3.0">
                                <li><img src="../imgs/common/star1.png" alt=""></li>
                                <li><img src="../imgs/common/star1.png" alt=""></li>
                                <li><img src="../imgs/common/star1.png" alt=""></li>
                                <li><img src="../imgs/common/star0.png" alt=""></li>
                                <li><img src="../imgs/common/star0.png" alt=""></li>
                            </ul>
                            <ul ng-if="data.score<5.0 && data.score>=4.0">
                                <li><img src="../imgs/common/star1.png" alt=""></li>
                                <li><img src="../imgs/common/star1.png" alt=""></li>
                                <li><img src="../imgs/common/star1.png" alt=""></li>
                                <li><img src="../imgs/common/star1.png" alt=""></li>
                                <li><img src="../imgs/common/star0.png" alt=""></li>
                            </ul>
                            <ul ng-if="data.score==5">
                                <li><img src="../imgs/common/star1.png" alt=""></li>
                                <li><img src="../imgs/common/star1.png" alt=""></li>
                                <li><img src="../imgs/common/star1.png" alt=""></li>
                                <li><img src="../imgs/common/star1.png" alt=""></li>
                                <li><img src="../imgs/common/star1.png" alt=""></li>
                            </ul>
                            <span ng-bind="data.score"></span>
                        </div>
                    </div>

                </div>
                <div class="comment-header-right" ng-bind="data.create_time"></div>
            </div>
            <div class="comment-body">
                <p class="comment-p" ng-bind="data.comments"> </p>
                <div class="comment-imgs" ng-if="data.images.length==0">
                    <p>暂时没有图片</p>
                </div>
                <div class="comment-imgs" >
                    <div style="position: relative;" ng-repeat="more in data.imgs">
                        <img src="{{more.image}}{{prefixed}}" alt="">
                        <!--<div class="comment-mask">共{{data.imgs.length}}张</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
        <h1 class="download-tips">下载简购生活查看更多评论</h1>
        <p ng-if="flag==0">暂时没有评论</p>
    <!--微信底部开始-->
    <div class="w-footer">
        <img src="../imgs/common/w-footer.png" alt="">
    </div>
    <!--微信底部结束-->
</div>

</body>
<script src="../libs/jquery.min.js"></script>
<script src="../libs/angular.min.js"></script>
<script src="../js/basic.js"></script>
<script src="../js/service.js"></script>
</html>